<div class="auth-bg-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
                <mat-card class="rounded-4" style="background-color: whitesmoke;" class="col-md-4">
                    <mat-card-header style="display:block;">
                        <mat-card-title class="text-center">
                            <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/success.gif">
                            <p class="web-font fs-2 my-5 text-success fw-bold">Đặt lại mật khẩu thành công!</p>
                            <button mat-raised-button class="text-light bg-success ms-2 mb-5" routerLink="/sign-in">Đăng nhập ngay</button>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
        </div>
    </div>
</div>