<p-toast></p-toast>
<div class="vh-100">
    <div class="container d-flex gap-5">
        <div class="col-md-6">
            <ng-container *ngIf="listCategories">
                <p-table
                #dt
                [value]="listCategories"
                [rows]="10"
                [paginator]="true"
                [tableStyle]="{ 'min-width': '75%' }"
                [rowHover]="true"
                currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} danh mục"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <h1 class="m-0 mb-2 web-font pastel text-center fw-bold">Danh mục</h1>
                    <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <button pButton pRipple label="Tạo mới" icon="pi pi-plus" class="pastel-bg"
                            (click)="openNewCategory()"></button>
                    </div>
                    <div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filter($event.target.value, 'name', 'contains')"
                                placeholder="Tìm kiếm..." />
                        </span>
                    </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:15rem">#</th>
                        <th>Tên danh mục</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cate>
                    <tr>
                        <td>{{ cate.id }}</td>
                        <td>{{ cate.name }}</td>
                    </tr>
                </ng-template>
            </p-table>
            </ng-container>
        </div>
        <div class="col-md-6">
            <ng-container *ngIf="listMaterials">
                <p-table
                #dt2
                [value]="listMaterials"
                [rows]="10"
                [paginator]="true"
                [tableStyle]="{ 'min-width': '75%' }"
                [rowHover]="true"
                currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} chất liệu"
                [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <h1 class="m-0 mb-2 web-font pastel text-center fw-bold">Chất liệu</h1>
                    <div class="d-flex align-items-center justify-content-between">
                    <div>
                        <button pButton pRipple label="Tạo mới" icon="pi pi-plus" class="pastel-bg"
                            (click)="openNewMaterial()"></button>
                    </div>
                    <div>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt2.filter($event.target.value, 'name', 'contains')"
                                placeholder="Tìm kiếm..." />
                        </span>
                    </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="min-width:15rem">#</th>
                        <th>Tên chất liệu</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-cate>
                    <tr>
                        <td>{{ cate.id }}</td>
                        <td>{{ cate.name }}</td>
                    </tr>
                </ng-template>
            </p-table>
            </ng-container>
        </div>

    </div>
    <p-divider></p-divider>
    <p-divider></p-divider>
</div>

    

<ng-container *ngIf="category">
    <p-dialog [(visible)]="categoryDialog" [style]="{ width: '450px' }" header="Tạo danh mục" [modal]="true" styleClass="p-fluid">
        <div class="field">
            <input placeholder="Nhập tên danh mục tại đây" type="text" pInputText [(ngModel)]="category.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !category.name">Tên danh mục không được để trống!</small>
        </div>
        <small class="text-danger">Lưu ý: hãy cẩn thận khi tạo danh mục vì khi đã tạo sẽ không thể xóa!</small>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Quay lại" class="p-button-text text-danger" (click)="hideCategoryDialog()"></button>
        <button pButton pRipple label="Tạo" icon="pi pi-check" class="p-button-text pastel-bg text-light" (click)="createCategory()"></button>
    </ng-template>
</p-dialog>
</ng-container>

<ng-container *ngIf="material">
    <p-dialog [(visible)]="materialDialog" [style]="{ width: '450px' }" header="Tạo chất liệu" [modal]="true" styleClass="p-fluid">
        <div class="field">
            <input placeholder="Nhập tên chất liệu tại đây" type="text" pInputText [(ngModel)]="material.name" required autofocus />
            <small class="p-error" *ngIf="submitted && !Material.name">Tên chất liệu không được để trống!</small>
        </div>
        <small class="text-danger">Lưu ý: hãy cẩn thận khi tạo chất liệu vì khi đã tạo sẽ không thể xóa!</small>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Quay lại" class="p-button-text text-danger" (click)="hideMaterialDialog()"></button>
        <button pButton pRipple label="Tạo" icon="pi pi-check" class="p-button-text pastel-bg text-light" (click)="createMaterial()"></button>
    </ng-template>
</p-dialog>
</ng-container>


