<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<mat-card class="my-5 container">
    <mat-card-content>
        <h5 class="web-font mb-3">
            Đơn vị vận chuyển
        </h5>
        <div class="d-flex gap-3 align-items-center">
            <input class="form-check-input pastel-bg pastel" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
            <label for="delivery">Giao Hàng Nhanh (GHN Express)</label>
            <mat-icon class="text-secondary">trending_flat</mat-icon> 
            <a class="pastel" href="https://ghn.vn/pages/bang-gia-moi-sieu-tiet-kiem" target="_blank">Tra cứu bảng giá vận chuyển, phí ship COD</a>
            <mat-icon class="text-secondary">open_in_new</mat-icon> 
        </div>
    </mat-card-content>
</mat-card>