<div class="auth-bg-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
                <mat-card class="rounded-4" style="background-color: white;" class="col-md-4">
                    <mat-card-header style="display:block;">
                        <mat-card-title class="text-center">
                            <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/sent-mail.gif">
                            <p class="web-font fs-2 my-5 text-success fw-bold">Đã gửi thư xác nhận!</p>
                            <p class="web-font fs-4 text-dark fw-bold">Vui lòng kiểm tra hộp thư của bạn tại địa chỉ</p>
                            <p class="web-font fs-2 mb-5 text-warning fw-bold">{{email}}</p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
        </div>
    </div>
</div>