<app-loader [loader]="isLoading"></app-loader>

<div class="auth-bg-image">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <form [formGroup]="ForgotPwdForm" (ngSubmit)="forgotPassword()" class="col-md-4">
        <p-card>
          <h2 class="web-font fs-2 my-5 text-dark fw-bolder text-center">Đặt lại mật khẩu</h2>
          <div class="row my-5 mb-4">
            <mat-form-field color="primary" appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Nhập email tại đây" formControlName="email">
              <mat-icon matSuffix>alternate_email</mat-icon>
            </mat-form-field>
          </div>
          <div>
            <button class="w-100" mat-stroked-button
              [ngClass]="{'text-light': !ForgotPwdForm.valid, 'text-light pastel-bg': ForgotPwdForm.valid}"
              [disabled]="!ForgotPwdForm.valid">
              Gửi yêu cầu
            </button>
          </div>
        </p-card>
      </form>
    </div>
  </div>
</div>