<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<app-loader [loader]="maskLoading"></app-loader>
<ng-container *ngIf="listOrders">
    <div class="auth-bg-image">
        <div class="container my-4">
            <div class="card">
                <p-table #dt [value]="listOrders" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
                    [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
                    currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} đơn hàng">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <div class="flex align-items-center">
                                    #
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    Ngày đặt hàng
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    Ngày giao hàng
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    Tổng thanh toán
                                    <p-columnFilter type="numeric" field="totalCost" display="menu"
                                        currency="vnd"></p-columnFilter>
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    Trạng thái
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center">
                                    Chi tiết
                                </div>
                            </th>
                        </tr>
                        <tr>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                            </th>
                            <th>
                                <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-dropdown [ngModel]="value" [options]="statuses" optionLabel="label" optionValue="value"
                                            (onChange)="filter($event.value)" placeholder="Chọn trạng thái">
                                            <ng-template let-option pTemplate="item">
                                                <p-tag [severity]="getSeverity(option.value)">{{option.label}}</p-tag>
                                            </ng-template>
                                        </p-dropdown>
                                    </ng-template>
                                </p-columnFilter>
                            </th>
                            <th>
                            </th>
                        </tr>
                    </ng-template>
                    <tr>
                    </tr>
                    <ng-template pTemplate="body" let-order>
                        <tr>
                            <td>
                                {{order.id}}
                            </td>
                            <td>
                                {{order.orderDate | date:'short'}}
                            </td>
                            <td>
                                <ng-container *ngIf="order.shipDate==null; else shipped">
                                    Chưa có dữ liệu
                                </ng-container>
                                <ng-template #shipped>
                                    {{order.shipDate | date:'short'}}
                                </ng-template>
                            </td>
                            <td>
                                {{ order.totalCost|vndCurrencyPipe }}
                            </td>
                            <td>
                                <ng-container [ngSwitch]="order.status">
                                    <ng-container *ngSwitchCase="1">
                                        <p-tag severity="danger" value="Đã bị hủy"></p-tag>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="2">
                                        <p-tag severity="info" value="Chờ xác nhận"></p-tag>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="3">
                                        <p-tag severity="warning" value="Đã xác nhận"></p-tag>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="4">
                                        <p-tag severity="success" value="Hoàn thành"></p-tag>
                                    </ng-container>
                                </ng-container>
                            </td>
                            <td>
                                <button (click)="onClickDetail(order)" mat-icon-button>
                                    <mat-icon class="text-warning">info</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">Không tìm thấy đơn hàng.</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</ng-container>