<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<mat-drawer-container autosize>
    <mat-drawer mode="side" opened class="col-2">
        <div class="d-flex flex-column w-100">
            <div class="d-flex w-100 flex-column align-items-center">
            <h1 class="web-font fw-bold mt-3 fs-6 mb-2">Danh Mục</h1>
                <div class="d-flex justify-content-center">
                    <p-multiSelect [baseZIndex]="10" placeholder="Chọn danh mục &nbsp;&nbsp;" [options]="categories"
                        [(ngModel)]="selectedCategories" optionLabel="name" optionValue="id" [maxSelectedLabels]="0"
                        [selectedItemsLabel]="'Đã chọn {0} mục &nbsp;&nbsp;&nbsp;'"></p-multiSelect>
                </div>
            </div>
            <div class="d-flex w-100 flex-column align-items-center">
            <h1 class="web-font fw-bold mt-3 fs-6 mb-2">Chất Liệu</h1>
                <div class="d-flex justify-content-center">
                    <p-multiSelect placeholder="Chọn chất liệu &nbsp;&nbsp;&nbsp;&nbsp;" [options]="materials"
                        [(ngModel)]="selectedMaterials" optionLabel="name" optionValue="id" [maxSelectedLabels]="0"
                        [selectedItemsLabel]="'Đã chọn {0} mục &nbsp;&nbsp;&nbsp;'"></p-multiSelect>
                </div>
            </div>
            <div class="d-flex w-100 flex-column align-items-center">
            <h1 class="web-font fw-bold mt-3 fs-6 mb-2">Khoảng Giá</h1>
                <p-inputNumber class="p-inputtext-sm" placeholder="₫ Từ" [(ngModel)]="fromPrice"
                    inputId="fromPrice" locale="en-vn"></p-inputNumber>
                <mat-icon class="my-1">arrow_downward</mat-icon>
                <p-inputNumber class="p-inputtext-sm" placeholder="₫ Đến" [disabled]="!fromPrice" [(ngModel)]="toPrice" inputId="toPrice"
                 locale="en-vn"></p-inputNumber>
                 <div
          *ngIf="fromPrice && toPrice && fromPrice >= toPrice"
          class="text-danger fw-bold my-3">
          Vui lòng nhập từ thấp đến cao
        </div>
            </div>
            <div class="d-flex w-100 flex-column align-items-center">
                <h1 class="web-font fw-bold mt-3 fs-6 mb-2">Đánh giá</h1>
                <div class="flex flex-column gap-3">
                    <div *ngFor="let option of starOption" class="field-checkbox">
                        <div class="d-flex flex-row gap-1 align-items-center">
                            <p-radioButton [inputId]="option.name" name="starOption" [value]="option.value" [(ngModel)]="selectedStarOption"></p-radioButton>
                            <label [for]="option.name" class="ml-2">
                               <div style="font-size: 12px;" class="web-font">{{ option.name }}</div> 
                            </label>
                            <div *ngFor="let i of option.numberOfStars">
                                <mat-icon style="font-size: 18px; width: 18px;" class="text-warning mt-2">star</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="mt-5 d-flex gap-3 justify-content-center">
                    <button (click)="onClearFilter()" mat-raised-button class="bg-light text-dark">
                      Xóa bộ lọc
                      <mat-icon>refresh</mat-icon>
                    </button>
                    <button
                      (click)="onApplyFilter()"
                      mat-raised-button
                      class="pastel-bg text-light"
                    >
                      Lọc
                      <mat-icon>filter_alt</mat-icon>
                    </button>
                  </div>
        </div>

    </mat-drawer>
    <mat-drawer-content class="mt-4">
        <div class="container custom-container-height">
            <h1 class="web-font pastel ms-2">Tìm kiếm sản phẩm</h1>
            <div class="d-flex flex-row align-items-center justify-content-between">
                <ng-container *ngIf="searchQuery">
                    <span class="ms-3 fs-6 web-font search-title">Kết quả tìm kiếm cho từ khoá <span
                            class="pastel">'{{searchQuery}}'</span></span>
                </ng-container>
                <div class="me-5 ms-auto">
          <span class="text-dark me-2">Sắp xếp theo: </span>
          <p-dropdown
            [options]="sortItems"
            [(ngModel)]="selectedSortOption"
            optionLabel="name"
            (onChange)="onSortChange($event)">
            <ng-template let-item pTemplate="item">
              <div class="flex align-items-center gap-2">
                <div>{{ item.name }}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
            </div>
            <br>
            <p-divider class="pastel-bg p-0 mt-0" align="center">
                <div class="inline-flex align-items-center">
                    <mat-icon class="pastel bg-transparent">travel_explore</mat-icon>
                </div>
            </p-divider>
            <br>
            <ng-container *ngIf="listProducts.length>0; else noProductFound">
                <div class="mx-3">
                    <app-list-products [listProducts]="listProducts" [itemsPerRow]="5"></app-list-products>
                </div>
            </ng-container>
            <ng-template #noProductFound>
                <div class="d-flex justify-content-center flex-column align-items-center">
                    <img style="width: 50%; height: 50%;" src="assets/images/no-product-found.png">
                    <div class="pastel fw-bold fs-4">Không sản phẩm nào được tìm thấy, hãy thử từ khóa khác nhé!</div>
                </div>
            </ng-template>
            <div class="flex justify-content-center w-100 align-items-center mt-5">
                <p-paginator
                  [showCurrentPageReport]="true"
                  currentPageReportTemplate="{{ displayPaginatorText }}"
                  #paginator
                  [first]="0"
                  [rows]="15"
                  [totalRecords]="totalProducts"
                  (onPageChange)="onPageChange($event)"
                ></p-paginator>
              </div>

        </div>
    </mat-drawer-content>
</mat-drawer-container>