<div class="auth-bg-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
                <mat-card class="rounded-4" style="background-color: whitesmoke;" class="col-md-6">
                    <mat-card-header style="display:block;">
                        <mat-card-title class="text-center">
                            <img class="w-50 img-fluid" src="https://blobcuakhoa.blob.core.windows.net/files/success.gif">
                            <p class="web-font fs-3 my-3 text-success fw-bold">Đơn hàng của bạn đã được khởi tạo thành công!</p>
                            <p class="text-secondary my-3 web-font fw-bold">Bạn có thể kiểm tra thông tin đơn hàng tại <a routerLink="/my-order" class="text-decoration-none pastel">đây!</a></p>
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
        </div>
    </div>
</div>