<div class="d-flex flex-column gap-3">
    <div class="web-font">Tên: {{product.name}}</div>
    <div class="web-font">Hình ảnh : {{product.imgPath}}</div>
    <div class="web-font">Đã bán: {{product.numberOfSales}}</div>
    <div class="web-font">Giá tiền: {{product.price}}</div>
    <div class="d-flex web-font flex-row gap-2">Trạng thái: 
        <ng-container *ngIf="product.isSoldOut; else available">
            <p-tag severity="danger" value="Hết hàng"></p-tag>
        </ng-container>
        <ng-template #available>
            <p-tag severity="success" value="Còn hàng"></p-tag>
        </ng-template>
    </div>
</div>

<div class="d-flex justify-content-end">
    <button (click)="onChangeState()" mat-raised-button>Chuyển trạng thái</button>
</div>