<div class="auth-bg-image">
  <div class="container py-5" style="max-width: 1200px; min-height: 80vh;">
    <div class="instruction-page">
      <h1 class="text-center web-font pastel my-5">{{ title }} <mat-icon>menu_book</mat-icon></h1>
      <p-accordion class="mt-4" [multiple]="true" [(activeIndex)]="activeIndex">
        <p-accordionTab header="Video hướng dẫn sử dụng nền tảng Wemade">
          <!-- ACCORDION 1 -->
          <div style="display: flex; justify-content: center;">
            <div style="width: 800px;">
              <iframe width="800" height="400" src="https://www.youtube.com/embed/G-ew4e2PPVE?si=TM-UEbaGqKCj7Nlr"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Hướng dẫn sử dụng nền tảng Wemade">
          <!-- ACCORDION 2 -->
          <mat-tab-group dynamicHeight>
            <mat-tab label="Hướng dẫn mua hàng">
              <div class="tab-content">
                <!--  -->
                <div class="row">
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step1buyer.png" class="img-responsive" alt="Image 1">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Lựa chọn sản phẩm bạn yêu thích và thêm vào giỏ hàng
                    </p>
                  </div>
                </div>
                <!--  -->
  
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step2buyer.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Nhấn vào biểu tượng giỏ hàng để tiến hành thanh toán
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step3buyer.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Lựa chọn các sản phẩm thanh toán
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step4buyer.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Nhập địa chỉ giao hàng
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step5buyer.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Kiểm tra đơn hàng trước khi thanh toán
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step6buyer.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Chọn phương thức thanh toán và hoàn tất
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step7buyer.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Chọn phương thức thanh toán và hoàn tất
                    </p>
                  </div>
                </div>
                <!--  -->
              </div>
            </mat-tab>
            <!--TAB2 -->
            <mat-tab label="Trở thành người bán">
              <div class="tab-content">
                <!--  -->
                <div class="row">
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step1seller.png" class="img-responsive" alt="Image 1">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Ấn chọn vào "Kênh người bán"
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step2seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Tiến hành nhập thông tin cơ bản
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step3seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Địa chỉ nhận hàng
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step4seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Ảnh đại diện
                    </p>
                  </div>
                </div>
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step5seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Kiểm tra lại thông tin trước khi đăng kí
                    </p>
                  </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step6seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Sau khi đăng kí tiến hành đăng nhập lại và giao diện người bán sẽ hiện thị
                    </p>
                  </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="row mt-4">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step7seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p>Để tạo sản phẩm, chúng ta tiến hành chọn "Thêm sản phẩm" và nhập các thông tin
                    </p>
                  </div>
                </div>
                <!--  -->
                <!--  -->
                <div class="row mt-4 ">
                  <mat-divider></mat-divider>
                  <div class="col-5" style="padding-top: 16px;">
                    <img loading="lazy" src="assets/images/instruction/step8seller.png" class="img-responsive" alt="Image 2">
                  </div>
                  <div class="col-7 mt-4 dflex-center fs-4">
                    <p class="web-font">Giao diện sản phẩm sau khi đã tạo thành công
                    </p>
                  </div>
                </div>
                <!--  -->
              </div>
  
            </mat-tab>
            <mat-tab label="Hướng dẫn mua điểm WemadePay">
              <!--  -->
              <div class="row mt-4">
                <div class="col-5" style="padding-top: 16px;">
                  <img loading="lazy" src="assets/images/instruction/wemadepay1.png" class="img-responsive" alt="Image 2">
                </div>
                <div class="col-7 mt-4 dflex-center fs-4">
                  <p class="web-font">Ấn chọn "WemadePay"
                  </p>
                </div>
              </div>
  
              <!--  -->
              <div class="row mt-4">
                <mat-divider></mat-divider>
                <div class="col-5" style="padding-top: 16px;">
                  <img loading="lazy" src="assets/images/instruction/wemadepay2.png" class="img-responsive" alt="Image 2">
                </div>
                <div class="col-7 mt-4 dflex-center fs-4">
                  <p class="web-font">Nhập số diểm cần mua <br> 1 điểm = 1000VNĐ
                  </p>
                </div>
              </div>
  
              <!--  -->
              <div class="row mt-4">
                <mat-divider></mat-divider>
                <div class="col-5" style="padding-top: 16px;">
                  <img loading="lazy" src="assets/images/instruction/wemadepay3.png" class="img-responsive" alt="Image 2">
                </div>
                <div class="col-7 mt-4 dflex-center fs-4">
                  <p class="web-font">Lựa chọn phương thức thanh toán qua cổng VNPAY
                  </p>
                </div>
              </div>
              <!--  -->
              <div class="row mt-4">
                <mat-divider></mat-divider>
                <div class="col-5" style="padding-top: 16px;">
                  <img loading="lazy" src="assets/images/instruction/wemadepay4.png" class="img-responsive" alt="Image 2">
                </div>
                <div class="col-7 mt-4 dflex-center fs-4">
                  <p class="web-font">Thông báo thanh toán thành công sau khi giao dịch
                  </p>
                </div>
              </div>
              <!--  -->
              <div class="row mt-4">
                <mat-divider></mat-divider>
                <div class="col-5" style="padding-top: 16px;">
                  <img loading="lazy" src="assets/images/instruction/wemadepay5.png" class="img-responsive" alt="Image 2">
                </div>
                <div class="col-7 mt-4 dflex-center fs-4">
                  <p class="web-font">Kiểm tra lại số điểm sau khi được cập nhật
                  </p>
                </div>
              </div>
  
            </mat-tab>
          </mat-tab-group>
        </p-accordionTab>
      </p-accordion>
    </div>
  
  </div>
</div>