mat-hint {
    color: red;
}

.auth-bg-image {
    background-image: url('src\assets\images\auth-bg-image.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; /* Horizontally center content */
    align-items: center; /* Vertically center content */
    min-height: 100vh; /* Make the div take up at least the full viewport height */
}

:host >>> .p-divider.p-divider-horizontal .p-divider-content {
    background-color: whitesmoke;
}

.auth-button {
    background-image: linear-gradient(to right, #649173 0%, #DBD5A4  51%, #649173  100%);
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: flex;
}

.auth-button:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
