<app-loader [loader]="isLoading"></app-loader>

<div class="auth-bg-image">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <form [formGroup]="signInForm" (ngSubmit)="onSignIn()" class="col-md-4">
                <mat-card class="rounded-4" style="background-color: whitesmoke;">
                    <mat-card-header style="display:block;">
                        <mat-card-title class="text-center">
                            <p class="web-font fs-2 my-5 text-dark fw-bold">Đăng nhập</p>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row mt-4">
                            <mat-form-field color="primary" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input matInput placeholder="Nhập email tại đây" formControlName="email">
                                <mat-icon matSuffix>alternate_email</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="row mt-3">
                            <mat-form-field color="primary" appearance="fill">
                                <mat-label>Mật khẩu</mat-label>
                                <input matInput placeholder="Nhập mật khẩu tại đây"
                                    [type]="pwHide ? 'password' : 'text'" formControlName="password">
                                <button type="button" mat-icon-button matSuffix (click)="pwHide = !pwHide"
                                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pwHide">
                                    <mat-icon>{{pwHide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                    </mat-card-content>
                    <mat-card-footer>
                        <h4 class="fs-6 text-center text-dark web-font">Chưa có tài khoản? Đăng kí ở <a
                                class="text-decoration-none pastel fw-bold" routerLink="/sign-up">đây!</a></h4>
                        <h4 class="fs-6 text-center text-dark web-font"><a class="text-decoration-none pastel fw-bold"
                                routerLink="/forgot-password">Quên mật khẩu?</a></h4>
                    </mat-card-footer>

                    <p-divider align="center">
                        <span class="text-secondary">Hoặc</span>
                    </p-divider>
                    <div class="align-self-center mb-2" id="google-button"></div>

                    <mat-card-actions class="pb-4 px-5 pt-4">
                        <button class="w-100" mat-stroked-button
                            [ngClass]="{'text-secondary': !signInForm.valid, 'auth-button': signInForm.valid}"
                            [disabled]="!signInForm.valid">
                            Đăng nhập
                        </button>
                    </mat-card-actions>
                </mat-card>
            </form>
            <hr />
        </div>
    </div>
</div>