<div class="card" style="width: 24rem;">
    <div class="card-header fs-3 pastel web-font">
        Xem thống kê 
    </div>
        <mat-form-field class="w-100">
            <mat-label>Chọn khoảng thời gian</mat-label>
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker" id="date-form">
              <input matStartDate formControlName="start" placeholder="Từ ngày">
              <input matEndDate formControlName="end" placeholder="Đến ngày">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Ngày bắt đầu không hợp lệ</mat-error>
            <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Ngày kết thúc không hợp lệ</mat-error>
          </mat-form-field>

    <div class="card-body my-0">
        <ul class="list-group">
            <li class="list-group-item">
                <p class="fs-6">Doanh thu: {{data.revenue| vndCurrencyPipe}}</p>
            </li>
            <li class="list-group-item">
                <p class="fs-6">Tổng phí giao hàng: {{data.shippingCost| vndCurrencyPipe}}</p>
            </li>
            <li class="list-group-item">
                <p class="fs-6">Số lượng đơn hàng: {{data.orderCount}}</p>
            </li>
        </ul>
    </div>
</div>