<ng-container *ngIf="categories && materials">
    <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
    <app-loader [loader]="isLoading"></app-loader>
     <div class="container-fluid">
            <div class="row justify-content-center mb-5">
                <form [formGroup]="addProductForm" (ngSubmit)="onAddProduct()" class="col-md-7 mt-5" enctype="multipart/form-data">
                    <mat-card>
                        <mat-card-header style="display:block;">
                            <mat-card-title class="text-center">
                                <p class="web-font fs-2 my-3 text-dark pastel">Tạo mới sản phẩm</p>
                            </mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                                <div class="d-flex flex-column gap-2 mt-4">
                                    <span class="p-input-icon-left">
                                        <i class="pi pi-info-circle"></i>
                                        <input placeholder="Nhập tên sản phẩm ở đây (Chứa từ 4 đến 50 kí tự bao gồm chữ hoặc số)" class="w-100" type="text" pInputText formControlName="name" />
                                    </span>
                                    
                                </div>
                                <div class="d-flex flex-column gap-2 mt-4">
                                    <p-inputNumber mode="currency" currency="vnd" locale="en-vn" placeholder="₫ Nhập giá sản phẩm tại đây (Giá sản phẩm phải từ 0đ đến 50.000.000đ)" formControlName="price"></p-inputNumber>
                                </div>
                            <div class="mt-4 w-100 d-flex flex-row justify-content-around col-12">
                                    <div class="col-6 pe-2">
                                        <p-multiSelect formControlName="selectedCategories" placeholder="Chọn danh mục &nbsp;&nbsp;" [options]="categories"
                                         optionLabel="name" optionValue="id" [maxSelectedLabels]="0"
                                        [selectedItemsLabel]="'Đã chọn {0} mục &nbsp;&nbsp;&nbsp;'"></p-multiSelect>
                                    </div>
                                    <div class="col-6 ps-2">
                                        <p-multiSelect formControlName="selectedMaterials" placeholder="Chọn chất liệu &nbsp;&nbsp;&nbsp;&nbsp;" [options]="materials"
                                         optionLabel="name" optionValue="id" [maxSelectedLabels]="0"
                                        [selectedItemsLabel]="'Đã chọn {0} mục &nbsp;&nbsp;&nbsp;'"></p-multiSelect>
                                    </div>
                            </div>
                            <div class="card mt-4 d-flex justify-content-center">
                                <p-toast></p-toast>
                                <p-fileUpload chooseLabel="Chọn ảnh sản phẩm" cancelLabel="Xóa tất cả" #uploadedFiles [showUploadButton]="false" [multiple]="true" accept="image/*"></p-fileUpload>
                            </div>
                            <div class="d-flex flex-row align-items-center gap-1 mt-1">
                                <mat-icon class="text-warning">warning</mat-icon>
                                <small class="text-danger web-font fw-bold">*Lưu ý: hình ảnh đầu tiên trong danh sách sẽ là ảnh chính của sản phẩm.</small>
                            </div>
                            <div class="row my-3">
                                <p-editor placeholder="Nhập miêu tả sản phẩm tại đây" formControlName="description" [style]="{ height: '240px' }"></p-editor>
                            </div>
                        </mat-card-content>
                        <mat-card-actions class="col-12 m-auto pb-4">
                            <button class="w-100" mat-stroked-button 
                            [ngClass]="{'text-light': !addProductForm.valid, 'text-light pastel-bg': addProductForm.valid}"  [disabled]="!addProductForm.valid">Thêm</button>
                        </mat-card-actions>
                    </mat-card>
                </form>
            </div>
        </div>
</ng-container>