<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

<div class="container mt-4">
    <div class="card">
        <p-table #dt [value]="listOrders" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
            [rowsPerPageOptions]="[10, 25, 50]" [loading]="loading" [paginator]="true"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} của {totalRecords} đơn hàng">
            <ng-template pTemplate="caption">
                <div class="d-flex flex-row gap-4">
                    <button pButton label="Xóa bộ lọc" class="pastel-bg text-light  " icon="pi pi-filter-slash"
                        (click)="clear(dt)"></button>
                    <button pButton label="Xem thống kê" class="bg-warning text-light  " icon="pi pi-chart-bar"
                        (click)="onShowStatistic()"></button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>
                        <div class="flex align-items-center">
                            #
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Ngày đặt hàng
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Ngày giao hàng
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Tổng thanh toán
                            <p-columnFilter type="numeric" field="totalCost" display="menu" currency="vnd"></p-columnFilter>
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Trạng thái
                        </div>
                    </th>
                    <th>
                        <div class="flex align-items-center">
                            Quản lí
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-order>
                <tr>
                    <td>
                        {{order.id}}
                    </td>
                    <td>
                        {{order.orderDate | date:'short'}}
                    </td>
                    <td>
                        <ng-container *ngIf="order.shipDate==null; else shipped">
                            Chưa có dữ liệu
                        </ng-container>
                        <ng-template #shipped>
                            {{order.shipDate | date:'short'}}
                        </ng-template>
                    </td>
                    <td>
                        {{ order.totalCost|vndCurrencyPipe }}
                    </td>
                    <td>
                        <ng-container [ngSwitch]="order.status">
                            <ng-container *ngSwitchCase="1">
                                <p-tag severity="danger" value="Đã bị hủy"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="2">
                                <p-tag severity="info" value="Chờ xác nhận"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="3">
                                <p-tag severity="warning" value="Đã xác nhận"></p-tag>
                            </ng-container>
                            <ng-container *ngSwitchCase="4">
                                <p-tag severity="success" value="Hoàn thành"></p-tag>
                            </ng-container>
                        </ng-container>
                    </td>
                    <td>
                        <button (click)="onClickEdit(order)" mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="7">No products found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>